body {
    margin: 0;
    background: #0f0f0f;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ky bllok rregullon fotot gjigante */
.product-img {
    width: 100% !important;
    height: 250px !important;
    object-fit: contain !important;
}

.glass-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

#cart-container {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #0071e3;
    z-index: 1000;
    width: 250px;
}
